 body {
   font-family: Arial,
   sans-serif;
   background-color:  #E7DFD8;
   margin: 10px;
   padding: 60px;
 }
 nav {
    text-align: center;
    padding: 15px;
 }

 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 nav ul li {
    display: inline-block;
    margin: 0 30px;
 }

 nav ul li a {
    text-decoration: none;
    color:  black;
    font-size: 18px;
    font-weight: bold;
 }
 .image-row {
   text-align: center;
   padding: 20px;
 }
 .image-row img{
   display: inline-block;
   margin: 0 30px;
   width: 200px;
   height: 200px;
 }

  footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
