body {
   font-family: Arial, sans-serif;
   background-color: #E7DFD8;
   margin: 10px;
   padding: 60px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
  
  }
  a {
    text-decoration: none;
    color: black;
  }
  nav {
    text-align: center;
    padding: 15px;
 }

 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

 nav ul li {
    display: inline-block;
    margin: 0 30px;
 }

 nav ul li a {
    text-decoration: none;
    color:  black;
    font-size: 18px;
    font-weight: bold;
 }
 
 footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
 }
